/* Themify Customize Styling */
h1 {	
	font-family: 'Open Sans';	font-weight:300;
 
}
h2 {	
	font-family: 'Open Sans';	font-weight:normal;
	font-size:16px;
 
}
.header-classic #headerwrap, #headerwrap {	background: none;
	background-color: #3b3b3b; 
}
#pagewrap #headerwrap.fixed-header, .transparent-header #pagewrap #headerwrap.fixed-header {	background: none;
	background-color: #3b3b3b; 
}
body[class*="themify"] #site-logo a {	
	font-family: 'Open Sans';	font-weight:bold;
	letter-spacing:1px;
	font-size:24px;

	color: #ffffff; 
}
#main-nav {		position:relative;

	top: 3px; 
}
#main-nav a {	
	font-family: 'Open Sans';	font-weight:600;
	font-size:16px;
 
}
#main-nav a, #main-nav > li > a, .transparent-header #main-nav a {	
	color: #ffffff; 
}
#main-nav-wrap #main-nav a:hover, #main-nav-wrap #main-nav > li > a:hover {	
	color: #e6e6e6; 
}
#main-nav-wrap #main-nav .current_page_item > a, #main-nav .current-menu-item > a, #main-nav > .current_page_item > a, #main-nav > .current-menu-item > a {	
	color: #ffffff; 
}
#main-nav-wrap #main-nav .current_page_item a:hover,  #main-nav .current-menu-item a:hover {	
	color: #e6e6e6; 
}
#main-nav-wrap #main-nav li:not(.themify-widget-menu) > ul, #main-nav .has-mega-sub-menu .mega-sub-menu, #main-nav .has-mega-column > .sub-menu {	background: none;
	background-color: #f6f6f6;
	background-position: center top; 
}
#main-nav ul a, #main-nav .current_page_item ul a, #main-nav ul .current_page_item a, #main-nav .current-menu-item ul a, #main-nav ul .current-menu-item a, .fixed-header #main-nav ul a, #main-nav .has-mega-column > .sub-menu a {	
	color: #494949; 
}
#main-nav ul a:hover, #main-nav .current_page_item ul a:hover, #main-nav ul .current_page_item a:hover, #main-nav .current-menu-item ul a:hover, #main-nav ul .current-menu-item a:hover {	background: none;
	background-color: #595959; 
}
#footerwrap {	background: none;
	background-color: #292929; 
}
#footer {	
	color: #ffffff; 
}
#footer a {	
	color: #ffffff; 
}
@media screen and (max-width: 680px) { /* Themify Customize Styling */
h1 {		font-weight:300;
 
}
h2 {		font-weight:normal;
 
}
.header-classic #headerwrap, #headerwrap {	background: none;
	background-color: #3b3b3b; 
}
#pagewrap #headerwrap.fixed-header, .transparent-header #pagewrap #headerwrap.fixed-header {	background: none;
	background-color: #3b3b3b; 
}
body[class*="themify"] #site-logo a {	
	font-family: 'Open Sans'; 
}
#main-nav a {		font-weight:600;
 
}
#main-nav a, #main-nav > li > a, .transparent-header #main-nav a {	
	color: #ffffff; 
}
#main-nav-wrap #main-nav a:hover, #main-nav-wrap #main-nav > li > a:hover {	
	color: #e6e6e6; 
}
#main-nav-wrap #main-nav .current_page_item > a, #main-nav .current-menu-item > a, #main-nav > .current_page_item > a, #main-nav > .current-menu-item > a {	
	color: #ffffff; 
}
#main-nav-wrap #main-nav .current_page_item a:hover,  #main-nav .current-menu-item a:hover {	
	color: #e6e6e6; 
}
#main-nav-wrap #main-nav li:not(.themify-widget-menu) > ul, #main-nav .has-mega-sub-menu .mega-sub-menu, #main-nav .has-mega-column > .sub-menu {	background: none;
	background-color: #f6f6f6;
	background-position: center top; 
}
#main-nav ul a, #main-nav .current_page_item ul a, #main-nav ul .current_page_item a, #main-nav .current-menu-item ul a, #main-nav ul .current-menu-item a, .fixed-header #main-nav ul a, #main-nav .has-mega-column > .sub-menu a {	
	color: #494949; 
}
#main-nav ul a:hover, #main-nav .current_page_item ul a:hover, #main-nav ul .current_page_item a:hover, #main-nav .current-menu-item ul a:hover, #main-nav ul .current-menu-item a:hover {	background: none;
	background-color: #595959; 
}
#footerwrap {	background: none;
	background-color: #292929; 
}
#footer {	
	color: #ffffff; 
}
#footer a {	
	color: #ffffff; 
}
 }.mobile-menu-visible.header-slide-out .sidemenu-on, .mobile_menu_active.header-leftpane #headerwrap, .mobile_menu_active.header-rightpane #headerwrap, .mobile_menu_active #headerwrap .sidemenu-on { background: none;
	background-color: #494949;
	background-size: cover;
	background-position: center top; }.mobile-menu-visible.header-slide-out .sidemenu-on, .mobile_menu_active.header-leftpane #headerwrap, .mobile_menu_active.header-rightpane #headerwrap, .mobile_menu_active #headerwrap .sidemenu-on { 
	color: #f6f6f6; }.mobile_menu_active #headerwrap .sidemenu-on a, .mobile_menu_active #headerwrap #main-nav a, .mobile_menu_active #headerwrap #main-nav ul a { 
	color: #f6f6f6; }.mobile_menu_active #headerwrap .sidemenu-on a:hover, .mobile_menu_active #headerwrap #main-nav a:hover, .mobile_menu_active #headerwrap #main-nav ul a:hover { 
	color: #e6e6e6; }.mobile_menu_active.header-leftpane #pagewrap #headerwrap .header-icons #menu-icon, .mobile_menu_active.header-rightpane #pagewrap #headerwrap .header-icons #menu-icon, #headerwrap #menu-icon, .mobile_menu_active.header-horizontal #headerwrap #menu-icon { 
	color: #f6f6f6; }